*{ margin: 0;}

body {
    font-family: "Tahoma";
    color: black;
    margin: 0;
    background-color:  RGB(10,10,10);
}
 /* Header */
header {
    background-color: RGB(169, 144, 120);
    padding-bottom: 1%;
    font-size: 20px;
    font-family: "Andale Mono";

}

.headerItems {
    justify-content: right;
}

.headerItems.nav-link {
    color: black;
}


h1 {
    padding-left: 10%;
    padding-top: 25px;
    padding-bottom: 2px;
}

a {
    text-decoration: none;
    color: gray;
}

/* Create two columns/boxes that floats next to each other */
.halvt_bilete {
    display: flex;
    width: 50%;
    margin: 0;
}

.bilete_tekst {
    font-family: "Andale Mono";
    background-color: RGB(10,10,10);
    color: gray;
    font-weight: "bold";
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.display-container {
}

.w3-button {
    padding: 20px;
    opacity: 80%;
    margin-right: 10px;
}

article.contacts {
    padding-left: 5%;
    padding-right: 15%;
}

img.lite_bilete {
    width: 50%;
    border-radius: 50%;
}

img.stort_bilete {
    width: 100vw;
}

img.halvt_bilete {
    width: 50vw;
}

video.halvt_bilete {
    background-color: red;
    float: left;
    width: 100vw;
}