*{ margin: 0;}

body {
    font-family:"Andale Mono";
    margin: 0;
    background-color: gray;
}
 /* Header */
header {
    background-color: RGB(194, 172, 151, 0.35);
    padding: 0 2% 10px 2%;
    font-size: 20px;
    font-family: "Andale Mono";
    display: flex;
    justify-content: space-between;
}

header h1 {
    padding-left: 8%;
}


.utstillingar {
    padding-left: 10%;
    padding-top: 100px;
    padding-bottom: 2px;
    font-size: 30px;
}


.container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.container img {
    max-width: 100%;
    min-height: 100%;
}

/* Create two columns/boxes that floats next to each other */
.halvt_bilete {
    display: flex;
    justify-content: space-around;
    max-height: 25%;
    max-width: 50%;
    margin: 0 20% 0 20%;
}

.halvt_bilete img {
    display: none;
    width: 50%;
    height: 50%;
}

.bilete_tekst {
    font-family: "Andale Mono";
    font-size: 40px;
    margin: auto;
}

a {
    text-decoration: none;
    color: RGB(10, 10, 10);
}

button {
  cursor: pointer;
  position: relative;
  background-color: RGB(0,0,0,0.1);
  border: 0;
  width: auto;
  padding: 1%;
  color: white;
  font-size: 18px;
  user-select: none;
}